node_modules/
dist/
unity/Unity.CollabProxy.Editor.csproj
unity/Unity.RenderPipelines.Core.Editor.csproj
unity/Unity.RenderPipelines.Core.Runtime.csproj
unity/Unity.RenderPipelines.Core.ShaderLibrary.csproj
unity/Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj
unity/Unity.RenderPipelines.HighDefinition.Editor.csproj
unity/Unity.RenderPipelines.HighDefinition.Runtime.csproj
unity/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
unity/Unity.Rider.Editor.csproj
unity/Unity.Searcher.Editor.csproj
unity/Unity.ShaderGraph.Editor.csproj
unity/Unity.ShaderGraph.Utilities.csproj
unity/obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
unity/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
unity/obj/Debug/Unity.RenderPipelines.Core.Runtime.csprojAssemblyReference.cache
unity/Unity.TextMeshPro.csproj
unity/Unity.TextMeshPro.Editor.csproj
unity/Unity.Timeline.csproj
unity/Unity.Timeline.Editor.csproj
unity/Unity.VisualEffectGraph.Editor.csproj
unity/Unity.VisualEffectGraph.Runtime.csproj
unity/Unity.VisualStudio.Editor.csproj
unity/Unity.VSCode.Editor.csproj
unity/UnityEditor.TestRunner.csproj
unity/UnityEditor.UI.csproj
unity/UnityEngine.TestRunner.csproj
unity/UnityEngine.UI.csproj
unity/Library/
unity/Temp/
unity/obj/
unity/Assembly-CSharp.csproj
unity/Assembly-CSharp-Editor.csproj
